## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [212]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [213]:
# Your code here

# la k representa el numero de numeros que integreren la lista
    
sample_list_1= random.sample(range(100),k=80)
print(sample_list_1)

print(len(sample_list_1))

[23, 98, 68, 33, 87, 59, 39, 46, 93, 60, 66, 63, 7, 30, 74, 31, 86, 90, 14, 97, 1, 10, 16, 27, 71, 92, 3, 52, 12, 89, 24, 42, 80, 51, 56, 44, 8, 2, 13, 41, 69, 57, 85, 78, 79, 91, 32, 26, 67, 18, 20, 28, 9, 65, 96, 15, 0, 49, 17, 48, 38, 99, 94, 34, 81, 11, 5, 77, 84, 22, 88, 73, 29, 37, 40, 75, 36, 61, 55, 62]
80

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [214]:
# Your code here
set1=set(sample_list_1)
print(len(set1))

80

In [215]:
# Yes, the lenght is still the same

In [216]:
print(set1)

{0, 1, 2, 3, 5, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 20, 22, 23, 24, 26, 27, 28, 29, 30, 31, 32, 33, 34, 36, 37, 38, 39, 40, 41, 42, 44, 46, 48, 49, 51, 52, 55, 56, 57, 59, 60, 61, 62, 63, 65, 66, 67, 68, 69, 71, 73, 74, 75, 77, 78, 79, 80, 81, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 96, 97, 98, 99}

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [217]:
# Your code here
sample_list_2=[]
for i in range(81):
    sample_list_2.append(random.randint(0,100))
print(sample_list_2)

[75, 32, 28, 30, 41, 73, 16, 6, 63, 78, 14, 49, 98, 52, 42, 24, 91, 87, 18, 100, 60, 6, 3, 8, 91, 32, 64, 53, 70, 30, 27, 22, 36, 2, 20, 77, 100, 66, 56, 17, 9, 44, 22, 35, 29, 62, 76, 99, 53, 15, 79, 72, 58, 13, 30, 69, 53, 55, 78, 63, 12, 22, 74, 74, 92, 74, 98, 59, 84, 54, 100, 27, 36, 79, 23, 65, 100, 46, 33, 53, 64]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [218]:
# Your code here
set2=set(sample_list_2)
print(set2)

{2, 3, 6, 8, 9, 12, 13, 14, 15, 16, 17, 18, 20, 22, 23, 24, 27, 28, 29, 30, 32, 33, 35, 36, 41, 42, 44, 46, 49, 52, 53, 54, 55, 56, 58, 59, 60, 62, 63, 64, 65, 66, 69, 70, 72, 73, 74, 75, 76, 77, 78, 79, 84, 87, 91, 92, 98, 99, 100}

In [219]:
print(len(set2))

59

In [220]:
# The leng is less right now is 55

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [221]:
# Your code here
set3= set1-set2
print(set3)

{0, 1, 5, 7, 10, 11, 26, 31, 34, 37, 38, 39, 40, 48, 51, 57, 61, 67, 68, 71, 80, 81, 85, 86, 88, 89, 90, 93, 94, 96, 97}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [222]:
# Your code here
set4= set2-set1
print(set4)

{64, 35, 100, 6, 70, 72, 76, 53, 54, 58}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [223]:

# Your code here
set5=set1.intersection(set2)

print(set5)

{2, 3, 8, 9, 12, 13, 14, 15, 16, 17, 18, 20, 22, 23, 24, 27, 28, 29, 30, 32, 33, 36, 41, 42, 44, 46, 49, 52, 55, 56, 59, 60, 62, 63, 65, 66, 69, 73, 74, 75, 77, 78, 79, 84, 87, 91, 92, 98, 99}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [224]:
# Your code here
check_1= set3.union(set5)
print(check_1)

{0, 1, 2, 3, 5, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 20, 22, 23, 24, 26, 27, 28, 29, 30, 31, 32, 33, 34, 36, 37, 38, 39, 40, 41, 42, 44, 46, 48, 49, 51, 52, 55, 56, 57, 59, 60, 61, 62, 63, 65, 66, 67, 68, 69, 71, 73, 74, 75, 77, 78, 79, 80, 81, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 96, 97, 98, 99}

In [225]:
check_1==set1

True

In [226]:
check_2=set4.union(set5)
print(check_2)

{2, 3, 6, 8, 9, 12, 13, 14, 15, 16, 17, 18, 20, 22, 23, 24, 27, 28, 29, 30, 32, 33, 35, 36, 41, 42, 44, 46, 49, 52, 53, 54, 55, 56, 58, 59, 60, 62, 63, 64, 65, 66, 69, 70, 72, 73, 74, 75, 76, 77, 78, 79, 84, 87, 91, 92, 98, 99, 100}

In [227]:
check_2==set2

True

#### Create an empty set called `set6`.

In [228]:
# Your code here

set6=set()
set6

set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [229]:
# Your code here

set6.update(set5,set3)

print(set6)

{0, 1, 2, 3, 5, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 20, 22, 23, 24, 26, 27, 28, 29, 30, 31, 32, 33, 34, 36, 37, 38, 39, 40, 41, 42, 44, 46, 48, 49, 51, 52, 55, 56, 57, 59, 60, 61, 62, 63, 65, 66, 67, 68, 69, 71, 73, 74, 75, 77, 78, 79, 80, 81, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 96, 97, 98, 99}

#### Check if `set1` and `set6` are equal.

In [230]:
# Your code here

set1==set6

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [231]:
# Your code here

print(set2.issubset(set1))

print(set3.issubset(set1))

False
True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [232]:
# Your code here
union_1=set3.union(set4,set5)
print(union_1)

{0, 1, 2, 3, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 20, 22, 23, 24, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 44, 46, 48, 49, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 96, 97, 98, 99, 100}

In [233]:
union_2=set1.union(set2)
print(union_2)

{0, 1, 2, 3, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 20, 22, 23, 24, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 44, 46, 48, 49, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 96, 97, 98, 99, 100}

In [234]:
print(len(union_1))

90

In [235]:
print(len(union_2))

90

In [236]:
union_1==union_2

True

#### Using the `pop` method, remove the first element from `set1`.

In [237]:
# Your code here
set1.pop()

0

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.


list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

In [238]:
print(set1)

{1, 2, 3, 5, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 20, 22, 23, 24, 26, 27, 28, 29, 30, 31, 32, 33, 34, 36, 37, 38, 39, 40, 41, 42, 44, 46, 48, 49, 51, 52, 55, 56, 57, 59, 60, 61, 62, 63, 65, 66, 67, 68, 69, 71, 73, 74, 75, 77, 78, 79, 80, 81, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 96, 97, 98, 99}

In [239]:
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

# Your code here

for i in list_to_remove:
    set1.discard(i)
print(set1)

{2, 3, 5, 7, 8, 10, 12, 13, 14, 15, 16, 17, 18, 20, 22, 23, 24, 26, 27, 28, 30, 32, 33, 34, 36, 37, 38, 40, 42, 44, 46, 48, 52, 55, 56, 57, 60, 62, 63, 65, 66, 67, 68, 73, 74, 75, 77, 78, 80, 84, 85, 86, 87, 88, 90, 92, 93, 94, 96, 97, 98}